*{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
.ClearFix::after{
  content: "";
  clear: both;
  display: block;
}
.FullSite{
  width: 800px;
  border: 1px solid #ddd;
  margin: 10px auto;
}



.Logo{
  float: left;
  
}
.Logo h2{
  color: white;
  background-color: #009DD6;
  height: 40px;
  width: 240px;
  line-height: 40px;
  text-align: center;
  
  font-size: 30px;
}
.Logo h2:hover{
  background-color: #36373F;
  color: white;
}



.Manu{
  float: right;
  width: 70%;
}
.Manu ul li{
  
  list-style-type: none;
  float: left;
}
.Manu ul li a{
  text-decoration: none;
  background-color: #009DD6;
  color: white;
  border-left: 1px solid white;
  height: 40px;
  line-height: 40px;
  width: 139px;
  display: inline-block;
  text-align: center;
  
}
.Manu ul li a:hover{
  background-color: #0915A2;
}




.slider{
  background-image: url("images (4).jpeg");
  height:300px;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  font-size: 10px;
  
}
.slider h1{
  background-color:#42445AC7;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.slider h2{
  background-color: #458C8FC4;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  
}

.center{
  text-align: center;
  margin: 50px auto;
  width: 400px
}
.center b{
  display: inline-block;
}
.center p{
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  
}


.about{
  height: 200px;
  width: 69.5%;
  float: left;
  border: 1px solid #ddd;
 
}

.list-item{
  height: 200px;
  width: 30%;
  float: right;
  border: 1px solid #ddd;
  
}

.list-item h3, ol{
  position: relative;
  left: 40px;
  top: 20px;
}
.rakib{
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 10px;
  margin-top: 20px
}
.rakib img{
  max-width: 100%;
}
.about p{
  font-size: 13px;
  width: 390px;
  float: right;
  margin-top: 25px;
}




.footer-manu{
  height: 30px;
  background-color: black;
  color: white;
  line-height: 30px
}
.footer-left{
  float: left;
}
.footer-left p{
  font-size: 10px
}
.footer-right{
  float: right;
  margin-left: 20px;

}
.footer-right ul{}
.footer-right ul li{
  display: inline-block;
  margin-right: 10px;
}
.footer-right ul li i{
  color: white;
  font-size: 15px;
  
  
}
.all{
  margin-left: 20px;
  
}

.cours{
  text-align: center;
}

.Graphics span{
  display: block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  background-color: #0CA6D0;
  color: white;
  font-size: 30px;;
  border-radius: 20px 0 20px;
  margin: auto;
  margin-bottom: 10px;
  
}
.Graphics{
  width: 30.3%;
  text-align: center;
  display: inline-block;
  border: 1px solid #ddd;
  font-size: 13px;
  box-sizing: border-box;
  margin: 20px 10px;
  padding: 13px;
  
  
}

.cours p{
  position: relative;
  top: 10px;
}
.cours b{
  font-size: 20px;
}
